.chatpage{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatcontainer{
    background-color: white;
    width: 60%;
    height: 50%;

}
.chatheader{
background-color: crimson;
height: 15%;
}
.chatbox{
    border: 0.2vmax solid black;
    height: 70%;
    box-sizing: border-box;
}
.inputBox{
    border: 0.2vmax solid black;
    height: 15%;
    box-sizing: border-box;
    display: flex;

}
#chatinput{
    width: 80%;
    border: none;
    padding: 1vmax;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    font-size: 20px;

}
.sendbtn{
    background-color: crimson;
    border: none;
    color: white;
    width: 20%;
    transition: all 0.3s;

}
.sendbtn:hover{
    background-color: rgb(126, 3, 28);
}